<h1>
  Welcome,
  <% if signed_in? %>
    <%= current_user.login %>
  <% else %>
    new user
  <% end %>

</h1>
<%= link_to "Cars for selling", controller: "cars" %>
<%= link_to "Sell car", new_car_path %>